<%= render @friend %>

<div>
  <br/>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-primary" %> | 
  <%= link_to "Back to friends", friends_path , class:"btn btn-secondary" %><br/><br/>

  <%= button_to "Destroy this friend", @friend, method: :delete,class:"btn btn-danger" %>
</div>
